{% extends 'app_billing/admin_base.html' %}
{% block body_block %}
<table align="center">
    <tr>
        <td>Product</td>
        <td>Quantity</td>
        <td>Purchase_Price</td>
        <td>Selling_Price</td>
        <td>Purchase_Date</td>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.items }}</td>
        <td>{{ product.purchase_qty }}</td>
        <td>{{ product.purchase_price }}</td>
        <td>{{ product.selling_price }}</td>
         <td>{{ product.purchase_date }}</td>
        <td><a href="{% url 'productview' product.id %}" class="btn btn-primary" >View</a> </td>
        <td><a href="{% url 'productdelete' product.id %}" class="btn btn-primary" >Delete</a> </td>
        <td><a href="{% url 'productedit' product.id %}" class="btn btn-primary" >Edit</a> </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}